.css-view-1dbjc4n {
    justify-content: center;
    align-items: center;
}

.weather-header > .css-view-1dbjc4n > .css-cursor-18t94o4 > .css-view-1dbjc4n {
    justify-content: left;
}

.css-view-1dbjc4n {
    justify-content: left;
}